.btn-blue {
	background-color: #276180;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
a:hover{
	color: #C8A47B;
	text-decoration: none;
}